<h1>Ratings guide</h1>

<h2>Michelin Guide</h2>

<ul>
  <li><img width=25px height=25px src="/michelin_star.jpeg">One star indicates a very good restaurant in its category, offering cuisine prepared to a consistently high standard.</li>
  <li><img width=25px height=25px src="/michelin_star.jpeg"><img width=25px height=25px src="/michelin_star.jpeg">Two stars denote excellent cuisine, skillfully and carefully crafted dishes of outstanding quality.</li>
  <li><img width=25px height=25px src="/michelin_star.jpeg"><img width=25px height=25px src="/michelin_star.jpeg"><img width=25px height=25px src="/michelin_star.jpeg">Three stars reward exceptional cuisine where diners eat extremely well, often superbly. Distinctive dishes are precisely executed, using superlative ingredients.</li>
  
</ul>

<h2>The New York Times</h2>

<ul>
   <li><img width=25px height=25px src="/star_gold.jpeg">Good</li>
   <li><img width=25px height=25px src="/star_gold.jpeg"><img width=25px height=25px src="/star_gold.jpeg">Very Good</li>
   <li><img width=25px height=25px src="/star_gold.jpeg"><img width=25px height=25px src="/star_gold.jpeg"><img width=25px height=25px src="/star_gold.jpeg">Excellent</li>
   <li><img width=25px height=25px src="/star_gold.jpeg"><img width=25px height=25px src="/star_gold.jpeg"><img width=25px height=25px src="/star_gold.jpeg"><img width=25px height=25px src="/star_gold.jpeg">Extraordinary</li>
</ul>

<a href="/">Click to go to main page</a>