/* NAVIGATION */

.nav_bar {
	padding: 20px;
    background: rgba(0,0,0,0.5);
    margin: 0 auto;
    overflow: hidden;
    

}

.nav_bar a {
	font-family: 'Exo 2', sans-serif;
	/*font-family: 'Freckle Face', cursive;*/
    text-decoration: none;
	color: lightgray;
}

.nav_bar a:hover {
	color: white;
}
.links_bar {
	float: right;
	display: inline-block;

	/*padding: 10px;*/

}
.links_bar a {
	text-decoration: none;
	padding: 10px;
	color: lightgray;
	font-family: 'Exo 2', sans-serif;
}

.links_bar a:hover {
	text-decoration: none;
    color: white;
}

.devise_nav {
    font-size: 16px;
    padding: 10px 0px 10px 20px;
    background: rgba(0,0,0,0.7);
    
    color: lightgray;
	
}

.search_bar {
	display: inline-block;
    float: right;


}

@media (max-width: 670px) {

  .nav_bar {

  
  display: block;
  /*padding: 20px 20px 60px 20px;*/
  }
  .links_bar a {
  	float: left;
  	display: block;
  }
  .search_bar {
  	display: block;

    
  }
}
/* MAIN PAGE */


body {
	
	  background-image: url('danielrestaurant.jpg');
      background-size: cover;
      /*width: 1338px;*/
      height: 1004px;
      margin: 0 auto;
}

.main_foodieana_jones {
	margin: 100px;
	padding: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
}

.main_foodieana_jones h1 {
    
	font-size: 100px;
	/*background-color: white;*/
	color: lightgray;
}

.main_foodieana_jones h3 {
    
	font-size: 50px;
	/*background-color: white;*/
	color: lightgray;
}

@media (max-width: 1251px) {

.main_foodieana_jones h1 {
    
	font-size: 85px;
	/*background-color: white;*/
	
    }

   .main_foodieana_jones h3 {
    
	font-size: 30px;
	/*background-color: white;*/
	color: lightgray;
    }
}

@media (max-width: 775px) {

	/*.main_foodieana_jones {
	margin: 100px;
	padding: 100px;
    }*/
   .main_foodieana_jones h1 {
    
	font-size: 40px;
	/*background-color: white;*/
	
    }

   .main_foodieana_jones h3 {
    
	font-size: 15px;
	/*background-color: white;*/
	
    }
}

@media (max-width: 572px) {

	/*.main_foodieana_jones {
	margin: 100px;
	padding: 100px;
    }*/
   .main_foodieana_jones h1 {
    
	font-size: 20px;
	/*background-color: white;*/
	
    }

   .main_foodieana_jones h3 {
    
	font-size: 10px;
	/*background-color: white;*/
	
    }
}
/* SEARCH PAGE */

.main_search_page {
	margin: 100px;
	padding: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
	color: lightgray;
}

.main_search_page h1 {
     font-size: 100px;
}

.main_search_page h2 {
     font-size: 50px;
}

.main_search_page h3 {
     font-size:50px;
}

.main_search_page h4 {
	font-size: 40px;
}

#ratings_container ul li {
	font-size: 20px;
}

/*#ratings_container {
	text-align: center;
	background-color: white;
	width: 25%;
}*/

/* SHOW PAGE */

.main_show_page {

	margin: 50px;
	padding: 50px, 100px, 50px, 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
	color: lightgray;
	overflow: hidden;
}


.main_show_page h1 {
     font-size: 100px;
}

.main_show_page h3 {
     font-size:50px;
}

.main_show_page h4 {
	font-size: 40px;
}


.rating_show {
	width: 45%;
	float: left;
    display: inline;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
}

.rating_show h3 {
	font-size: 16px;
}
.rating_show h5 {
	font-size: 16px;
}


.dishes_show {
	width: 45%;
	float: right;
	display: inline;
}

.dishes_show h3 {
	font-size: 30px;
}

.deletedish {
	color: lightgray;
	font-size: 12px;
	text-decoration: none;
}

.deletedish:hover {
	text-decoration: underline;
}

/* FAVORITES PAGE */

.main_favorites {
	margin: 100px;
	padding: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
	color: lightgray;
}

.favorite_link {
	text-decoration: none;
	color: gray;
    font-size: 30px;
}

.favorite_link:hover {
	text-decoration: underline;
}

.delete {
	color: lightgray;
	font-size: 16px;
	text-decoration: none;
}
.delete:hover {
	text-decoration: underline;
	font-size: 16px;
}
.main_favorites h1 {
    font-size: 70px;
}
.main_favorites h2 {
	font-size: 40px;
}


@media (max-width: 700px) { 
  
.main_favorites h1 {
    font-size: 35px;
}
.main_favorites h2 {
	font-size: 20px;
}

}

@media (max-width: 500px) { 
  
.main_favorites {
	margin: 25px;
	padding: 25px;
}

.main_favorites h1 {
    font-size: 18px;
}
.main_favorites h2 {
	font-size: 10px;
}
.favorite_link {
    font-size: 15px;
}
}

@media (max-width: 600px){
	.main_foodieana_jones {
		width: 200px;
	}
}

@media (max-width: 750px){
	.main_search_page {
		width: 300px;
	}
}

@media (max-width: 780px){
	.main_show2_page {
		width: 690px;
	}
}

@media (max-width: 630px){
	.main_guide{
		width: 270px;
	}
}
/* GUIDE PAGE */

.main_guide {
	margin: 100px;
	padding: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
	color: lightgray;
}

.main_guide h1 {
    
	font-size: 100px;
	/*background-color: white;*/
	
}
@media (max-width: 730px) {
 .main_guide h1 {
    
	font-size: 50px;
	/*background-color: white;*/
	}
}

/* devise */

.devise_main {
	margin: 100px;
	padding: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
	color: lightgray;
}

.devise_main h2 {
   font-size: 40px;
}


/* Show2 */
.main_show2_page {

	margin: 50px;
	padding: 50px, 100px, 50px, 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Exo 2';
	color: lightgray;
	overflow: hidden;
}


.main_show2_page h1 {
     font-size: 100px;
}



.main_show2_page h3 {
     font-size:30px;
}

.main_show2_page h4 {
	font-size: 40px;
}

.show2_total_rating h2 {
  font-size: 60px;
}

.yelp_rating_show2 {
   width: 24%;
   float: left;
}

.yelp_rating_show2 h5 {
	font-size: 30px;
}

.michelin_rating_show2 {
	width: 24%;
float: left;
}

.michelin_rating_show2 h5{
	font-size: 30px;
}

.nyt_rating_show2 {
	width: 24%;
float: left;
}

.nyt_rating_show2 h5{
	font-size: 30px;
}

.user_rating_show2 {
	width: 24%;
	float: left;
}

.user_rating_show2 h5{
	font-size: 30px;
}
/*.rating_show2 {
	width: 45%;
	float: left;
    display: inline;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
}

.rating_show2 h3 {
	font-size: 16px;
}
.rating_show2 h5 {
	font-size: 16px;
}


.dishes_show2 {
	width: 45%;
	float: right;
	display: inline;
}

.dishes_show2 h3 {
	font-size: 30px;
}*/


